<header id="header" class="header">

  <div class="header__content section__content">
    <div class="header__identification">
      <img id="logo" class="header__logo" src="images/nodeschoolnislogo.svg" />
      <div class="header__logo-text">
        <div class="header__logo-text__nodeschool">NodeSchool</div>
        <div class="header__logo-text__oakland">Niš</div>
      </div>
      <!-- <nav class="header__social-links">
        <a href="https://www.facebook.com/nodeschooloak/">
          <svg class="icon icon-facebook">
            <use xlink:href="./images/nodeschool_icons.svg#icon-facebook-square"></use>
          </svg>
        </a>
        <a href="https://twitter.com/nodeschooloak">
          <svg class="icon icon-twitter">
            <use xlink:href="./images/nodeschool_icons.svg#icon-twitter"></use>
          </svg>
        </a>
        <a href="https://github.com/nodeschool/oakland">
          <svg class="icon icon-github">
            <use xlink:href="./images/nodeschool_icons.svg#icon-github"></use>
          </svg>
        </a>
      </nav> -->
    </div>

    <div class="header__introduction">
      <h1 class="header__introduction__heading">Naučite JavaScript</h1>
      <p class="header__introduction__body">
        <strong>NodeSchool Niš</strong> je mesečno okupljanje sa ciljem da pomogne ljudima pri učenju JavaScript programskog jezika. Osobe svih nivoa znanja - od početnika do eksperata - su dobrodošle.
      </p>
    </div>

    <div class="next-event">
      <div class="next-event__description">
        {{ range first 1 .Site.Pages }}
          {{ if eq .Type "post" }}
            <h2 class="next-event__heading">Sledeći dogadjaj: {{ .Params.Title }}</h2>
            <ul class="next-event__info">
              <li class="next-event__info__item">
                <strong class="strong--alt">Kada?</strong> {{ .Params.Datum }}
              </li>
              <li class="next-event__info__item">
                <strong class="strong--alt">Gde?</strong> {{ .Params.Mesto }}
                {{ if (isset .Params "gmap") }}<a href="{{ .Params.Gmap }}" target="_blank">[lokacija]</a>{{ end }}
              </li>
            </ul>
          {{ end }}
        {{ end }}
      </div>
      {{ range first 1 .Site.Pages }}
        {{ if eq .Type "post" }}
          <nav class="next-event__actions">
            {{ if (isset .Params "ucesnici") }}
              <a class="next-event__action__learner next-event__action button" href="{{ .Params.Ucesnici }}" target="_blank">Prijavi se kao učesnik</a>
            {{ end }}
            {{ if isset .Params "mentori" }}
              <a class="next-event__action__mentor next-event__action button" href="{{ .Params.Mentori }}" target="_blank">Prijavi se kao Mentor</a>
            {{ end }}
          </nav>
        {{ end }}
      {{ end }}
    </div>
  </div>
</header>