<title>{{ .Site.Title }}</title>
<meta charset="utf-8" />
<meta name="description" content="{{ .Site.Params.Subtitle }}" />
<meta name="author" content="{{ .Site.Params.AuthorName }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta property="og:title" content="NodeSchool Nish" />
<meta property="og:type" content="website" />
<meta property="og:description" content="NodeSchool Nish is a monthly meetup dedicated to helping people learn NodeJS and JavaScript." />
<!-- favicon -->
<link rel="shortcut icon" href="" />