<header id="header" class="header">

  <div class="header__content section__content">
    <div class="header__identification">
      <img id="logo" class="header__logo" src="images/nodeschoolnislogo.svg" />
      <div class="header__logo-text">
        <div class="header__logo-text__nodeschool">NodeSchool</div>
        <div class="header__logo-text__oakland">Niš</div>
      </div>
      <nav class="header__social-links">
        <a href="https://www.facebook.com/nodeschooloak/">
          <svg class="icon icon-facebook">
            <use xlink:href="./images/nodeschool_icons.svg#icon-facebook-square"></use>
          </svg>
        </a>
        <a href="https://twitter.com/nodeschooloak">
          <svg class="icon icon-twitter">
            <use xlink:href="./images/nodeschool_icons.svg#icon-twitter"></use>
          </svg>
        </a>
        <a href="https://github.com/nodeschool/oakland">
          <svg class="icon icon-github">
            <use xlink:href="./images/nodeschool_icons.svg#icon-github"></use>
          </svg>
        </a>
      </nav>
    </div>

    <div class="header__introduction">
      <h1 class="header__introduction__heading">We Help You Learn JavaScript</h1>
      <p class="header__introduction__body">
        <strong>NodeSchool Niš</strong> is a monthly meetup dedicated to helping people learn JavaScript. We help people of all skill levels–from beginners to experts–discover what's possible with JavaScript. Bring yourself, your computer, and the desire to learn to our next event!
      </p>
    </div>

    <div class="next-event">
      <div class="next-event__description">
        <h2 class="next-event__heading">Our Next Event is on March 16th</h2>
        <ul class="next-event__info">
          <li class="next-event__info__item">
            <strong class="strong--alt">When?</strong> Saturday, March 16th from 1-5PM
          </li>
          <li class="next-event__info__item">
            <strong class="strong--alt">Where?</strong> npm 1999 Harrison St #1150 Oakland, CA 94612 [<a href="http://maps.google.com/?q=1999%20Harrison%20St%20%231150%20Oakland%2C%20CA%2094612">map</a>]
          </li>
          <li class="next-event__info__item">
            <strong class="strong--alt">What?</strong> Learning, mentoring, javascript bffs, and pizza 🍕
          </li>
        </ul>
      </div>
      <nav class="next-event__actions">
        <a class="next-event__action__learner next-event__action button" href="https:&#x2F;&#x2F;ti.to&#x2F;nodeschool-oakland&#x2F;nodeschool-oakland-march-2019">
          Sign up as a Learner
        </a><a class="next-event__action__mentor next-event__action button" href="https:&#x2F;&#x2F;github.com&#x2F;nodeschool&#x2F;oakland&#x2F;issues&#x2F;73">
          Sign up as a Mentor
        </a>
      </nav>
    </div>
  </div>
</header>